#clockContainer{
    position: relative;
    margin: auto;
    background-color: rgb(174, 219, 204);
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1.5%;
    height: 17%;
    top: 33%;
    left: 49.5%;
    opacity: 0.8;
    
}
#minute{
    width: 1%;
    height: 21%;
    top: 29%;
    left: 49.5%;
    opacity: 0.8;
    
}
#second{
    width: 0.5%;
    height: 28%;
    top: 22%;
    left: 49.5%;
    opacity: 0.8;
    
}